[Unit]
Description=Digital discrete sensor
StopWhenUnneeded=false
Requires=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service

[Service]
Type=dbus
BusName=xyz.openbmc_project.DigitalDiscrete
Restart=always
RestartSec=5
ExecStart=/usr/libexec/dbus-sensors/digitaldiscrete

[Install]
WantedBy=multi-user.target
