[Unit]
Description=Event logging Sensor
StopWhenUnneeded=false
Requires=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.Logging.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/logstatus

[Install]
WantedBy=multi-user.target
