[Unit]
Description=Power Supply Sensor
StopWhenUnneeded=false
Requires=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/psustatus

[Install]
WantedBy=multi-user.target
