[Unit]
Description=ACPI Device Status
StopWhenUnneeded=false
Requires=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/acpidevicestatus

[Install]
WantedBy=multi-user.target
