[Unit]
Description=DBus ADC Sensor
StopWhenUnneeded=false

Requires=xyz.openbmc_project.EntityManager.service \
    xyz.openbmc_project.scm_i2c_memory_map.service

Before=xyz.openbmc_project.cpusensor.service

After=xyz.openbmc_project.EntityManager.service \
    xyz.openbmc_project.scm_i2c_memory_map.service

[Service]
Type=dbus
BusName=xyz.openbmc_project.DBusADCSensor
Restart=always
RestartSec=5
ExecStart=/usr/libexec/dbus-sensors/dbusadcsensor

[Install]
WantedBy=multi-user.target
