[Unit]
Description=API Sensor dbus-sensors Reactor
StopWhenUnneeded=false
Requires=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/apisensor 3

[Install]
WantedBy=multi-user.target
