[Unit]
Description=ACPI Device Status
StopWhenUnneeded=false
Requires=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service

[Service]
Type=dbus
BusName=xyz.openbmc_project.ACPIDeviceStatus
Restart=always
RestartSec=5
ExecStart=/usr/libexec/dbus-sensors/acpidevicestatus

[Install]
WantedBy=multi-user.target
