[Unit]
Description=Event logging Sensor
StopWhenUnneeded=false
Requires=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.Logging.service

[Service]
Type=dbus
BusName=xyz.openbmc_project.LoggingStatusSensor
Restart=always
RestartSec=5
ExecStart=/usr/libexec/dbus-sensors/logstatus

[Install]
WantedBy=multi-user.target
